<!doctype html>

<html lang="en">
    <head >
		<meta charset="utf-8">
		<title>{{this.title}}</title>
		<meta name="description" content="Homepage for the Gallery">
		<meta name="author" content="Lewis Lovette">
		<link href="style.css" type="text/css" rel="stylesheet" />



	</head>
	<body>
        <h1>Send an Email</h1>
		<p><a href="/gallery">back to home</a></p>
		<p><a href="/logout">log out</a></p>
        
		<form action="/register" enctype="multipart/form-data" method="post">
			<p>Write Email:<br /><input type="text" name="email" placeholder="send an email" value=""></p>
			<p><input type="submit" value="Send"></p>
		</form>
		
	</body>
</html>