<!doctype html>

<html lang="en">
    <head >
		<meta charset="utf-8">
		<title>Gallery Page</title>
		<meta name="description" content="Homepage for the Gallery">
		<meta name="author" content="Lewis Lovette">
		<link href="../style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Gallery Page</h1>
		<p><a href="/addItem">Add an Item</a></p>
		<p><a href="/logout">log out</a></p>

		{{#each id}}
		<a href="/items/{{this.id}}">
			<div class="gallery" >
				<img src='../items/{{this.title}}.png' alt="Cinque Terre" width="300" height="200">
				<div class="title">{{this.title}}</div>
				<div class="price">£{{this.price}}</div>
			</div>
		</a>
		{{/each}}

		
	</body>
</html>