<!doctype html>

<html lang="en">
    <head >
		<meta charset="utf-8">
		<title>Gallery Page</title>
		<meta name="description" content="Homepage for the Gallery">
		<meta name="author" content="Lewis Lovette">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Gallery Page</h1>
		<p><a href="/addItem">Add an Item</a></p>
		<p><a href="/logout">log out</a></p>

		<!--
		{{#each title}}
		<div class="gallery">
				<img src="../avatars/avatar.png" alt="User Avatar" width="300" height="200">
				<div class="desc">{{title}}</div>
		</div>
		{{/each}}
		-->

		{{#each id}}
		<div class="gallery">
			<img src='../avatars/avatar.png' alt="Cinque Terre" width="300" height="200">
			<div class="title">{{this.title}}</div>
			<div class="price">£{{this.price}}</div>
		</div>
		{{/each}}

		
	</body>
</html>